body {
  font-family: helvetica;
  background: #CCC;
}

header {
  padding: 35px;
  font-size: 24px;
  background: #444;
  color: #FFF;
}

section {
  padding: 35px;
}

article {
  margin-bottom: 5px;
}

p, legend {
  background: #4D4F73;
  width: 90%;
  padding: 15px 20px;
  color: #FFF;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

table, th, tr, td {
  border: 1px solid black;
  padding: 5px;
  background: #FFF;
}

select {
  width: 50%;
  margin: 10px 5px;
}

div {
  float: left;
  margin-right: 20px;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  background: #222;
  padding: 25px;
  color: #FFF;
  width: 100%;
}

.more {
  padding: 10px;
}

.button {
  padding: 7px 23px;
  background: #3B94D9;
  color: #FFF;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  transition: 350ms all;
  margin: 5px;
  cursor: pointer;
}

.button:hover {
  background: #444;
}

.cancel {
  background: #DA1124;
}

#more-treats {
  margin-left: 25px;
}
